#mainContent{
  min-height: calc(100% - 190px);
}

*:focus{
  outline: none
}

body {
  font-family: 'Montserrat', sans-serif;
  background: white;
  border-width: .2em;
}

html{
  width: 100%;
  height: 100%;
}

a {
  color: white;
}

a:hover {
  color: #AFAFAF;
  text-decoration: none;
}

a:active {
  color: black;
}

a.redlink {
  color: #D55A4D;
}

.pagewrapper-1 {
  margin: 25em;
  margin-top: 2em;
  margin-bottom: 8em;
}

.pagewrapper-2 {
  margin: 25em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.footer {
  clear: both;
  height: 100px;
  width: 100%;
  /*margin-top: 3em;*/
  background-color: #D55A4D;
  bottom: 0;
}

.container {
  min-height: 100%;
}

.navbar-default {
  background-color: white !important;
  border-color: white;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.navbar-default .navbar-nav>li>a {
  color: #D55A4D;
  text-transform: capitalize;
}

.doodle-section {
  position: relative;
}
.section-text {
  position: absolute;
  margin-left: 10em;
  margin-top: 100px;
  float: left;
  z-index: 4;
}

.section-img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 8em;
  z-index: 3;
}

.section-description {
  width: 55%;
  margin-bottom: 1.5em;
}

.footernav {
  text-align: center;
  margin-top: 40px;
}

.footernav>li {
  display: inline;
  margin-right: 1em;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  color: #5E5E5E;
  letter-spacing: .05em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: .05em;
  color: #7DB4BE;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
  color: #5E5E5E;
  letter-spacing: .05em;
}

h4 {
  font-size: 1.8em;
  color: #5E5E5E;
  letter-spacing: normal;
}

h5 {
  color: white;
  letter-spacing: normal;
}

.doodle-section {
  height: 350px;
  width: 100%;
  background-color: #F7ECE3;
}

.option{
  width: 93%;
  float: left;
}

.icon {
  margin-right: .3em;
}

.spacer {
  background-color: white;
  height: 40px;
}

.svg:hover path{
  fill:black;
}

.govote {
  float:right;
  margin-top: 1em;
}

.vote-vote-block {
  margin-bottom: 2em;
}

.vote-addoption-block {
  clear: both;
  margin-top: 4em;
}

.roomtitle {
  float:left;
}

.roomlist {
  width: 100%;
  overflow: hidden;
}

.roomlist {
  padding: 2em;
}

.btn {
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .2em;
  text-align: center !important;
  font-size: .9em;
  padding: .8em;
  padding-left: 1em;
  padding-right: .9em;
  border-radius: 5px;
  border-style: hidden;
  background-color: #D55A4D;
}

.btn:hover {
  background-color: #A3524F;
}

.votebtn {
  position: inherit;
}

.votebutton:hover{
   background-color: #A3524F;
}

.directions {
  text-align: center;
  padding: .5em;
}
.votebutton {
  margin-right: 2em;
}

.votebuttongroup {
  float:right;
  margin-top:2em;
  margin-bottom: 3em;
  clear: both;
}

.voteoption {
  margin-top: 1.2em;
  padding: 2em;
  padding-top: .5em;
  padding-bottom: 1em;
  background-color: #AFAFAF;
}

.createroomblock {
  overflow: hidden;
}

.decisionresult {
  margin-top: 2em;
  padding: 2em;
  text-align: center;
  color: #5E5E5E;
  margin-top: 2em;

}
.votebutton {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1em;
  background: none;
  border-style: solid;
  border-radius: 0;
  border-color: white;
  border-width: .2em;
  margin-top: 2em;
}

.votebutton:hover{
   background-color: rgba(255,255,255, .3);
   border-color: white;
}

.createroombutton {
  float: right;
  margin-bottom: 2em;
  margin-top: 1em;
}

li {
  list-style: none;
}

.createoptionbutton {
  float: right;
  margin-top: .6em;
  cursor: pointer;
}
