<html>
<head>
  <title>Myrge</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,500,700' rel='stylesheet' type='text/css'>
  <link href="templates/stylesheets/style.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <!-- sortable.js -->
  <script src="http://rubaxa.github.io/Sortable/Sortable.js"></script>
  <!-- ng-sortable.js -->
  <script src="http://rubaxa.github.io/Sortable/ng-sortable.js"></script>
  <script src="/javascripts/angularApp.js"></script>

  <script src="/javascripts/Factories/authFactory.js"></script>
  <script src="/javascripts/Factories/roomsFactory.js"></script>

  <script src="/javascripts/Controllers/mainController.js"></script>
  <script src="/javascripts/Controllers/navController.js"></script>
  <script src="/javascripts/Controllers/authController.js"></script>
  <script src="/javascripts/Controllers/roomsController.js"></script>
  <script src="/javascripts/Controllers/resultController.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
<body ng-app="decisionMaker">
  <header class="navbar navbar-default" ng-controller="NavCtrl">
    <div class="col-md-10 col-md-offset-1">
      <a href="#/home" class="pull-left logo"><img src="../images/logo.svg"></a>
      <ul class="nav navbar-nav pull-right">
        <li ng-show="isLoggedIn()"><a href="/#/profile"><img class="icon" src="../images/profile-icon.svg">   {{ currentUser() }}</a></li>
        <li ng-show="isLoggedIn()"><a href="/#/create"><img class="icon" src="../images/add-icon.svg"> New Poll</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login"><button class="btn btn-primary"> Log In </button></a></li>
      </ul>
    </div>
  </header>

  <div id="mainContent">
    <ui-view></ui-view>
  </div>

  <footer class="footer" ng-controller="NavCtrl">
      <div class="container">
        <div id="footerwrap">
          <ul class="footernav">
            <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
            <li ng-show="isLoggedIn()"><a href="/#/create">Create a Poll</a></li>
            <li ng-show="isLoggedIn()"><a href="/#/profile">My Polls</a></li>
            <li><a href="/#/about">About</a></li>
          </ul>
        </div>
      </div>
  <footer>
</body>

</html>
