body {
  padding: 50px;
  font: "Roboto", 400;
  background-color: #1cdb95;
  border-width: .2em;
}

h1 {
  font: "Montserrat";
  font-size: 2em;
  color: white;
  letter-spacing: .2em;
  text-transform: uppercase;
}

h3 {
  font: "Roboto", 800;
  font-size: 1em;
  letter-spacing: .15em;
  color: white;
  text-transform: uppercase;
}

.option{
  width: 90%;
  float: left;
}

.formLabel{
  width: 10%;
  float: left;
  cursor: pointer;
}
